{% extends "layout.html" %}

{% block content %}
<div class="hero">
    <div class="typing-container">
        <h1>Welcome to Daniel Rentz's Portfolio</h1>
    </div>
    <p>Explore my work and experience in the field of IT and Cybersecurity.</p>
    <a class="cta-button" href="#contact">Get in Touch</a>
</div>

<div class="features">
    <div class="feature-box">
        <h2>Experience</h2>
        <p>IT Help Desk Support / CyberIQ Jun 2023 – Present</p>
        <p>Client Support Specialist / NFC Amenity Management Mar 2022 – Sep 2022</p>
    </div>
    <div class="feature-box">
        <h2>Education</h2>
        <p>Associate in Arts / Computer Information Systems / Miami Dade College Jun 2022 – Dec 2023</p>
        <p>Bachelor of Science / Cybersecurity / Florida International University Jan 2024 – Apr 2025</p>
    </div>
    <div class="feature-box">
        <h2>Certifications</h2>
        <p>CompTIA Network+ / CompTIA Dec 2023</p>
        <p>CompTIA Security+ / CompTIA Mar 2024</p>
    </div>
</div>
{% endblock %}
