{% extends "layout.html" %}

{% block content %}
<div class="hero">
    <div class="typing-container">
        <h1>Welcome to Daniel Rentz's Portfolio</h1>
    </div>
    <p>Explore my work and experience in the field of IT and Cybersecurity.</p>
</div>

<div class="features">
    <div class="feature-box">
        <h2>Experience</h2>
        <ul>
            <li><strong>IT Help Desk Support</strong> - CyberIQ (Jun 2023 – Present)
                <ul>
                    <li>Provided IT support for Microsoft’s core business applications and operating systems</li>
                    <li>Knowledgeable in disaster recovery solutions</li>
                    <li>Monitored system alerts and responded accordingly to customer needs</li>
                    <li>Worked independently on tasks as needed by customers</li>
                    <li>Maintained system documentation and reviewed it to fulfill customer requirements</li>
                    <li>Communicated with customers to keep them informed of incident progress and provided solutions</li>
                    <li>Troubleshot multiple computer & mobile device platforms: Mac, Windows, Linux, iOS & Android</li>
                </ul>
            </li>
            <li><strong>Client Support Specialist</strong> - NFC Amenity Management (Mar 2022 – Sep 2022)
                <ul>
                    <li>Managed front desk operations, addressing technical and non-technical inquiries</li>
                    <li>Coordinated scheduling and access for prospects, realtors, and contractors</li>
                    <li>Maintained documentation of visitor logs, incident reports, and operational procedures</li>
                    <li>Interacted with property management and residents using various communication platforms</li>
                    <li>Provided swift responses to unexpected situations, leveraging problem-solving skills</li>
                    <li>Inspected technical equipment and facilities, initiated service requests, and followed up on resolutions</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="feature-box">
        <h2>Education</h2>
        <p>Associate in Arts, Computer Information Systems - Miami Dade College (Jun 2022 – Dec 2023)</p>
        <p>Bachelor of Science, Cybersecurity - Florida International University (Jan 2024 – Apr 2025)</p>
    </div>
    <div class="feature-box">
        <h2>Certifications</h2>
        <p>CompTIA Network+ - Dec 2023</p>
        <p>CompTIA Security+ - Mar 2024</p>
    </div>
</div>
{% endblock %}
